Django>=6.0,<7.0
psycopg[binary,pool]>=3.3
Pillow>=12.0
django-environ>=0.14
redis>=8.0
WeasyPrint>=69.0
razorpay>=2.0
django-solo>=2.5
easy-thumbnails>=2.10
gunicorn>=23.0
sentry-sdk>=2.0
whitenoise>=6.11
